extends layout_login
block content
    .login-container
        .row
            .col-sm-6
                script.
                    jQuery(document).ready(function ($) {
                        // Reveal Login form
                        setTimeout(function () {
                            $(".fade-in-effect").addClass('in');
                        }, 1);


                        // Validation and Ajax action
                        $("form#login").validate({
                            rules: {
                                username: {
                                    required: true
                                },

                                password: {
                                    required: true
                                }
                            },

                            messages: {
                                username: {
                                    required: '请输入用户名'
                                },

                                password: {
                                    required: '请输入密码'
                                }
                            },

                            // Form Processing via AJAX
                            submitHandler: function (form) {
                                show_loading_bar(70); // Fill progress bar to 70% (just a given value)

                                var opts = {
                                    "closeButton": true,
                                    "debug": false,
                                    "positionClass": "toast-top-full-width",
                                    "onclick": null,
                                    "showDuration": "300",
                                    "hideDuration": "1000",
                                    "timeOut": "5000",
                                    "extendedTimeOut": "1000",
                                    "showEasing": "swing",
                                    "hideEasing": "linear",
                                    "showMethod": "fadeIn",
                                    "hideMethod": "fadeOut"
                                };
                                //alert(123);
                                form.submit();
                            }
                        });

                        // Set Form focus
                        $("form#login .form-group:has(.form-control):first .form-control").focus();
                    });
                .errors-container
                form.login-form.fade-in-effect(method="post",role="form",id="login",action="/admin/login")
                    .login-header
                        //
                            a.logo(href="dashboard-1.html")
                                img(src="../xenon/assets/images/logo-white-bg@2x.png",alt="",width="80")
                                span
                                    | 登录
                        p
                            | 亲爱的用户，请登录进入管理员界面
                    .form-group
                        label.control-label(for="username")
                            | 用户名
                        input#username.form-control.input-dark(type="text",name="username",autocomplete="off")
                    .form-group
                        label.control-label(for="password")
                            | 密码
                        input#password.form-control.input-dark(type="password",name="password",autocomplete="off")
                    .form-group
                        button.btn.btn-dark.btn-block.text-left(type="submit")
                            i.fa-lock
                            | 点击登录
                    .login-footer
                        a(href="#")
                            | 忘记密码？
